<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" IgnorableNamespaces="uap rescap mp desktop">
  <Identity Name="64360VelerSoftware.9606A2D6F057" Version="2018.11.24.0" Publisher="CN=3D87C8C2-C6F4-4875-B258-5FEC13B08F81" />
  <mp:PhoneIdentity PhoneProductId="33b9bcd2-ef21-4e6f-8664-ebdd7dc6120d" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>ClipboardZanager</DisplayName>
    <PublisherDisplayName>etiennebaudoux</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en" />
    <Resource Language="fr" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="win32\ClipboardZanager.exe" EntryPoint="Windows.FullTrustApplication" ResourceGroup="ClipboardZanager">
      <uap:VisualElements DisplayName="ClipboardZanager" Description="ClipboardZanager is a modern, quick and smart clipboard manager for Windows 10. It creates a history of what you copy and let you paste the data at any time on any device." BackgroundColor="transparent" Square150x150Logo="images\Square150x150Logo.png" Square44x44Logo="images\Square44x44Logo.png">
        <uap:DefaultTile ShortName="CZ">
        </uap:DefaultTile>
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape" />
          <uap:Rotation Preference="portraitFlipped" />
          <uap:Rotation Preference="landscapeFlipped" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <desktop:Extension Category="windows.startupTask" Executable="win32\ClipboardZanager.exe" EntryPoint="Windows.FullTrustApplication">
          <desktop:StartupTask TaskId="ClipboardZanagerStartupTask" Enabled="true" DisplayName="ClipboardZanager Startup Task" />
        </desktop:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>