<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClipboardZanager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Graph.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.28.3.860" newVersion="2.28.3.860" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ClipboardZanager.Properties.Settings>
      <setting name="DropBoxAccessToken" serializeAs="String">
        <value />
      </setting>
      <setting name="OneDriveRefreshToken" serializeAs="String">
        <value />
      </setting>
      <setting name="IgnoredApplications" serializeAs="String">
        <value />
      </setting>
      <setting name="AvoidCreditCard" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AvoidPasswords" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="KeepDataAfterReboot" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxDataToKeep" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="DateExpireLimit" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="FirstStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseMouseGesture" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseKeyboardHotKeys" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AvoidMeteredConnection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NotifySyncFailed" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NotifyCreditCard" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NotifyPassword" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SynchronizationInterval" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="PasteBarPosition" serializeAs="String">
        <value>Top</value>
      </setting>
      <setting name="ClosePasteBarWhenMouseIsAway" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClosePasteBarWithHotKey" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DataMigrationRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CurrentVersion" serializeAs="String">
        <value />
      </setting>
    </ClipboardZanager.Properties.Settings>
  </userSettings>
</configuration>